# Jekyll config for joshbeard.com
---
name: Josh Beard
source: ./src
url: https://joshbeard.com
common_keywords:
  - joshua beard
  - josh
  - joshbeard
  - jashbeard
  - josh beard colorado springs
  - josh beard colorado
  - josh beard devops
  - josh beard denver
  - joshua beard colorado springs
  - joshua beard devops
  - josh beard resume
  - joshua beard resume
  - josh beard sysadmin
  - josh beard systems administrator
  - josh beard apogee engineering
  - joshua beard apogee engineering
  - josh beard usgs
  - josh beard puppet
  - josh beard dsdk12
  - colorado springs devops
  - colorado springs devops engineer
  - colorado devops engineer
  - denver devops engineer
  - devops resume
  - devops engineer resume
  - sysadmin resume
  - systems administrator resume
  - devops
  - devops engineer
  - sysadmin
  - colorado springs
destination: ./_site
permalink: /posts/:year/:month/:day/:title:output_ext
exclude:
  - "Gemfile"
  - "Gemfile.lock"
  - "docker-compose.yml"
  - "README.md"
  - "LICENSE.md"
  - "vendor/"
  - "Makefile"
  - file_list.txt
  - album.yml
  - dist/
  - util/
  - .deploy/
markdown: kramdown

kramdown:
  input: GFM
  auto_ids: true
  hard_wrap: false
  syntax_highlighter: rouge

plugins:
  - jekyll-target-blank
  - jekyll-sitemap
  - jekyll-navigation-tree

target-blank:
  add_css_classes: ext

defaults:
  - scope:
      path: "site/assets/**/*"
    values:
      sitemap: false

gallery:
  src_dir: src/photos
  out_dir: /photos
  thumbs_dir: thumbs

nav_tree:
  excludes:
    - /sitemap.xml
    - /photos/*/*jpg.html
    - /photos/*/*jpeg.html
    - /photos/*/*.yml
    - /assets*
    - /error.html
    - /sitemap.xml
