<span class="bottom_text">
<a href="/site/small.html" class="bottom_link">Gemini</a>: <a href="gemini://jbeard.co" class="bottom_link">gemini://jbeard.co</a><br />
<a href="/site/small.html" class="bottom_link">Gopher</a>: <a href="gopher://jbeard.co" class="bottom_link">gopher://jbeard.co</a>
</span>
<span class="bottom_text finger">
<a href="/site/small.html" class="bottom_link">finger josh@jbeard.co</a>
</span>
<span class="bottom_text about">
<a href="/site/" class="bottom_link">About This Site</a>
</span>
            <div id="footer">
                <span><a href="/" class="footer_site_title">joshbeard.me</a></span><br />
            </div>
        </div>
    </body>
</html>