<span class="bottom_text">
Also on <a href="/site/small.html">Gemini</a> at <a href="gemini://jbeard.co">gemini://jbeard.co</a> and <a href="/site/small.html">Gopher</a> at <a href="gopher://jbeard.co">gopher://jbeard.co</a>
</span>
<span class="bottom_text finger">
<a href="/site/small.html">finger josh@jbeard.co</a>
</span>
<span class="bottom_text about">
<a href="/site/">About This Site</a>
</span>
            <div id="footer">
                <span><a href="/">joshbeard.me</a></span><br />
            </div>
        </div>
    </body>
</html>