<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Homepage of Josh Beard">
        <meta name="keywords" content="joshua beard josh joshbeard jashbeard devops colorado springs denver">
        <meta name="viewport" content="width=device-width" />
        <!-- Open Graph -->
        <meta property="og:locale" content="en_US">
        <meta property="og:title" content="{{ site.name }}">
        <meta property="og:description" content="Homepage of Josh Beard">
        <meta property="og:url" content="https://joshbeard.me/">
        <meta property="og:site_name" content="{{ site.name }}">

        <title>{{ site.name }}</title>

        <link href="{{ "/assets/css/style.css" | relative_url | bust_cache }}" rel="stylesheet" />
        <link href="{{ "/assets/css/font.css" | relative_url | bust_cache }}" rel="stylesheet" />
        <link href="{{ "/assets/fa/css/all.css" | relative_url | bust_cache }}" rel="stylesheet" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>

    <body>
        <div id="container">
            <div id="header">
                <h1>Josh Beard</h1>
            </div>