<nav id="submenu">
<ul class="sub-menu">
{% for item in site.data.about_menu %}
    <li class="menu-item-{{ loop.index }}">
        {% if page.url == item.url %}
            {{ item.title }}
        {% else %}
            <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
        {% endif %}
        {% if item.children %}
        <ul class="sub-menu">
        {% for item in item.children %}
        <li class="menu-child-item-{{ loop.index }}">
            <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
        </li>
        {% endfor %}
        </ul>
    {% endif %}
    </li>
{% endfor %}
</ul>
</nav>