@media (prefers-color-scheme: light) {
/*
  ==== Common Defaults
*/

body {
    background: #FFF7F0;
}

a {
    color: #0F4BD4;
}

a:hover {
    color: #279D3E;
}

h1 a {
    color: #fff;
    text-shadow: 2px 2px #383A44;
}

h1 a:hover {
    color: #fff;
}


h2 {
    color: #71B8ED;
}

blockquote {
    border-left: 3px solid #7EB758;
    color: #737373;
}

hr {
    border: 1px solid #E0E0E0;
}

nav {
    border-bottom: 1px solid #E0E0E0;
}

/*
  ==== Common Containers
*/
#header {
    background: #418564;
    border-bottom: 1px solid #2E5E47;
}

#content {
    color: #242424;
}

/*
  ==== Home Page
*/
li.home_link a,
a.bottom_link,
#error a {
    color: #6F7186;
    text-decoration: none;
}

li.home_link a:hover,
a.bottom_link:hover,
#error a:hover {
    color: #9663C3;
}

#error {
    color: #1f1f1f;
}

/*
  ==== Pages
*/
div#page a:visited:hover,
div#page a:hover {
    color: #830000;
}

div#page a:visited {
    color: #7143C4;
}

div#page h2 {
    color: #418464;
}

div#page h3,
div#page h4 {
    color: #9663C3;
}

div#page h3 a {
    color: #9663C3;
}

div#page h3.subsubtitle {
    color: #7EB758;
}

#page_content pre {
    background-color: #fff;
    background-color: #FFE7D2;
    border: 1px solid #79B153;
}

/*
  ==== Bottom Text
*/
span.bottom_text {
    color: #CACACA;
}

.site_version {
    color: #909090;
    /* border-top: 1px solid #E0E0E0; */
}

a.version_sha {
    color: #4F889C;
}

div#last_modified {
    border-top: 1px solid #E0E0E0;
    color: #9F9F9F;
}

/*
  ==== Footer
*/
#footer span {
    color: #656565;
}

#footer a {
    color: #556F98;
}

#footer a:hover {
    color: #9663C3;
}

div.ascii-art #page_content pre {
    background-color: transparent;
}

code.language-ascii-art {
    background-color: transparent;
    color: #4F726A;
}

/*
  ==== Menu
*/
div#menu_bar {
    color: #fff;
    background: #383A44;
    border-bottom: 1px solid #fff;
}
/*
div#menu_bar ul li {
    border-right: 1px solid #303642;
    border-right: 1px solid #5B5F6F;
}
div#menu_bar ul li:first-child {
    border-left: 1px solid #303642;
    border-left: 1px solid #5B5F6F;
}
*/
div#menu_bar ul li:hover {
    background:#555D71;
}
div#menu_bar ul li a {
    color: #fff;
}

/*
  ==== Posts
*/
div.post_date {
    color: #676767;
}

.post_page_footer {
    background: #1F1F1F;
}

div.post-nav a {
    color: #71EDBE;
}

div.post-nav a:hover {
    color: #71EDBE;
}

/*
  === Photo Albums
*/

/* the image for the album in the root list */
.album-in-list-image img {
    box-shadow: 3px 3px #bcbcbc;
    /* */
}

#album-description {
    color: #525252;
}

a.nav button {
    color: #ffffff;
    background: #000;
    opacity: 0.2;
}

a.nav button:hover {
    background: #525252;
    color: #5AF2F0;
    opacity: 0.6;
}

.image-description {
    color: #525252;
}

.image-foot {
    color: #525252;
}

}