---
layout: page
class: image-page
---
<div class="image-wrap">
<div class='image-page'>
	<div class='image-nav image-nav-prev'>
		{% if page.prev_url %}
		<a class="nav prev-button" href="{{ page.prev_url }}"><i class="fas fa-fw fa-circle-left"></i></a>
		{% endif %}
	</div>
	<div class="image-container">
		<a href="{{ page.img_src }}"><img src="{{page.img_src}}" class="img_full" alt="{{ page.album_name }} - {{ page.description }}" /></a>
    </div>
	<div class='image-nav image-nav-next'>
		{% if page.next_url %}
		<a class="nav next-button" href="{{ page.next_url }}"><i class="fas fa-fw fa-circle-right"></i></a>
		{% endif %}
	</div>
</div>
</div>
<div class="image-description">
	{{ page.description }}
</div>
<div class="image-foot">
	<a href="/photos">Photos</a>&nbsp;&raquo;&nbsp;<a href="{{ page.album_url }}">{{ page.album_name }}</a>&nbsp;&raquo;&nbsp;<a href="{{ page.img_src }}">{{ page.title }}</a>
</div>
