---
layout: page
class: album-list
---
<h2>Photos</h2>
<div class="album-list">
    {% assign sorted = site.pages | sort: 'title' | reverse %}
    {% for page in sorted %}
        {% if page.page_type == 'album' %}
            {% if page.hidden %}{% continue %}{% endif %}
            <div class="album-in-list">
                <div class="album-in-list-image">
                {% if page.images %}
                {{ page.key_image }}
                    {% if page.key_image_data %}
                        <a href="{{ page.url }}"><img src="{{ page.key_image_data.thumb }}" class="img-thumb" alt="{{ page.description }}" /></a>
                    {% else %}
                        <a href="{{ page.url }}"><img src="{{ page.images[0].thumb }}" class="img-thumb" alt="{{ page.description }}" /></a>
                    {% endif %}
                {% endif %}
                </div>
                <div class="album-in-list-title">
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
