* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", Monaco, monospace;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

body {
    background: #1f1f1f;
    font-size: calc(12px + (26 - 12) * ((100vw - 300px) / (1600 - 300)));
}

#header {
    border-bottom: 1px solid #71EDBE;
    text-align: center;
    padding: 6px;
    background: #282835;
}

#header h1 {
    color: #71B8ED;
    margin: 6px;
    letter-spacing: 2px;
    color: #71B8ED;
    font-weight: 700;
    text-decoration: rgb(232, 230, 227);
}

#header h2 {
    color: #71B8ED;
    margin: 6px;
    letter-spacing: 4px;
    color: #71B8ED;
}

#content {
    padding: 12px;
    border-bottom: 1px solid #71EDBE;
}

#content #links, #content #stats {
    padding: 2px;
    margin: 0 auto;
    padding-left: 3em;
    width: 10em;
}

#content #stats {
    width: 26em;
}

#content #links h2, #content #stats h2 {
    color: #ED9971;
    border-bottom: 1px solid #B46E4C;
    margin: 4px;
    letter-spacing: 2px;
    font-weight: 700;
}

#content #links ul, #content #stats ul {
    margin: 10px;
    list-style-type: none;
    list-style-position: inside;
    color: #fff;
}

#content #stats ul {
    list-style-type: disc;
}

#content #links a, #content #stats a {
    color: #AE93DD;
    text-decoration: none;
}
#content #links a:hover, #content #stats a:hover {
    color: #71EDBE;
}

#content #images {
    margin-top: 8px;
    border: 1px solid #AE93DD;
    padding: 2px;
}

#content #images h2 {
    color: #AE93DD;
    border-bottom: 1px solid #655E70;
    margin: 4px;
    letter-spacing: 2px;
    font-weight: 700;
}

#footer {
    text-align: center;
    margin-top: 20px;
}

#footer span {
    color: #656565;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 0.6em;
}

#footer a {
    color: #7E748F;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}