/*
  ==== Common Defaults
*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: calc(26px + (26 - 12) * ((100vw - 300px) / (1600 - 300)));
    margin: 0;
    padding: 0;
    background: #1f1f1f;
}

a {
    color: #77CBE9;
}

a.ext:after {
    content: "\f08e";
    font-size: .9em;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin:0px 0px 0px 4px;
    text-decoration:none;
}

h1 {
    margin: 6px;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: "Play", sans;
}

h1 a {
    color: #71B8ED;
    text-decoration: none;
}

h1 a:hover {
    color: #5AF2F0;
}


h2 {
    letter-spacing: 4px;
    color: #71B8ED;
}

blockquote {
    border-left: 3px solid #7EB758;
    padding: 2px 0 2px 8px;
    margin: 10px 0 10px 0;
    font-style: italic;
    color: #EDF7FF;
}

hr {
    margin-top: 40px;
    margin-bottom: 20px;
    border: 1px solid #393939;
    border-radius: 5px;
}

/*
  ==== Common Containers
*/
#container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 8px;
}

#header {
    text-align: center;
    padding: 6px;
    background: #282835;
    border-bottom: 1px solid #207A4C;
}

#content {
    flex-grow: 1;
    color: #fff;
}

#header, #content, #footer {
    flex-shrink: 0;
}

#theme_toggle {
    position: absolute;
    top: 10px;
    right: 10px;
}
#theme_button {
    color: #7E738F;
    font-size: .6em;
    background: none;
    border: none;
}
#theme_button:hover {
    color: #B989B2;
    cursor: pointer;
}


/*
  ==== Home Page
*/
li.home_link a,
a.bottom_link,
#error a {
    color: #AE93DD;
    text-decoration: none;
}

li.home_link a:hover,
a.bottom_link:hover,
#error a:hover {
    color: #71EDBE;
}

li.home_link a.ext:after {
    content: "";
    margin: 0;
}


div.home_links {
    padding: 2px;
    margin: auto;
    margin-bottom: 10px;
    display: table;
}

ul.home_links {
    margin: 10px;
    list-style-type: none;
    list-style-position: inside;
    color: #fff;
}

li.home_link {
    margin-bottom: 8px;
}

li.home_link span {
    font-family: "Play", sans;
}

div#home {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    /*font-variant: small-caps;*/
    text-transform: none;
}

#error {
    color: #fff;
    margin: 16px 20px 16px 20px;
    text-align: center;
}

#error span.error_return {
    font-size: 0.6em;
}


/*
  ==== Pages
*/
div#page {
    margin: 0 80px 0 80px;
    font-family: "Ubuntu";
    font-variant: none;
    word-spacing: 0;
    font-weight: normal;
    letter-spacing: 0;
    font-size: 18px;
}

div#page a:hover {
    color: #77E9A4;
}

div#page h2 {
    text-align: center;
    font-family: "Play";
    color: #8FCF63;
    letter-spacing: 4px;
    font-size: 42px;
}

div#page h3 {
    color: #9663C3;
    font-family: "Play";
    margin-top: 40px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-size: 28px;
}

h4 {
    font-size: 20px;
    color: #9663C3;
    font-family: "Play";
}

div#page h3 a {
    color: #71B8ED;
    text-decoration: none;
}

div#page h3.subsubtitle {
    text-align: center;
    font-size: 18px;
    color: #7EB758;
    margin-top: 0;
    letter-spacing: 1px;
}

div#page p {
    margin-bottom: 12px;
    line-height: 1.3;
    text-align: justify;
}

div#page_content {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 720px;
}

div#page ul {
    font-size: 18px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 12px;
}

#page .centered_text {
    text-align: center;
    font-size: 22px;
}

#page_content pre {
    font-family: 'Ubuntu Mono', monospace;
    font-size: .9em;
    background-color: #262E33;
    border: 1px solid #3E4C54;
    border-radius: 6px;
    padding: 8px 8px 8px 8px;
    margin: 16px 0 16px 0;
}

/*
  ==== Bottom Text
*/
span.bottom_text {
    text-align: center;
    display: block;
    font-size: .4em;
    margin: 0 auto;
    color: #CACACA;
    font-family: "Play", sans;
    margin-top: 20px;
}

span.finger {
    font-family: "Ubuntu Mono", monospace;
    margin-top: 2px;
}

.site_version {
    font-family: "Ubuntu Mono", monospace;
    font-size: .9em;
    color: #909090;
    border-top: 1px solid #909090;
    padding-top: 10px;
    margin-top: 30px;
    text-align: center;
}

a.version_sha {
    color: #4F889C;
}

/*
  ==== Footer
*/
#footer {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

#footer span {
    color: #656565;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: "Play", Arial, Helvetica, sans-serif;
}

#footer a {
    color: #7E748F;
    color: #9E92B3;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
    color: #71EDBE;
}

/*
  ==== Menu
*/
div#menu_bar {
    color: #fff;
    background: #242831;
    border-bottom: 1px solid #207A4C;
    font-size: .7em;
    text-align: center;
}
div#menu_bar ul {
    display: inline;
    padding: 0;
    margin: 0 auto;
}
div#menu_bar ul li {
    display: inline;
    padding: 0 12px 0 12px;
    margin: 0 auto;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    font-family: "Play", sans;
}
div#menu_bar ul li:first-child {
}
div#menu_bar ul li:hover {
    background:#555D71;
}
div#menu_bar ul li a {
    color: #fff;
    text-decoration: none;
}

/*
  ==== Posts
*/
div#page h3.post_title {
    margin-bottom: 0;
}
div.post_date {
    color: #AFAFAF;
}
div.post_content {
    margin-top: 10px;
    line-height: 2;
}
div.post_content p {
    margin-top: 8px;
}

.post_page_footer {
    background: #1F1F1F;
}

div.post-nav {
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 0 20px 0;
    width: 100%;
    flex-shrink: 0;
    font-size: .5em;
    font-family: "Ubuntu", Helvetica, sans-serif;
}

div.post-nav div {
    display: inline;
}

div.post-nav-prev {
    padding-left: 20px;
}
div.post-nav-next {
    text-align: right;
    padding-right: 20px;
    float: right;
}

div.post-nav a {
    color: #71EDBE;
    text-decoration: none;
}

div.post-nav a:hover {
    color: #71EDBE;
    text-decoration: underline;
}

#page_content pre,
div.ascii-art #page_content pre {
    background-color: transparent;
    padding: 0;
    margin: 12px 0 12px 0;
    border: none;
}

code.language-ascii-art-small,
code.language-ascii-art-right,
code.language-ascii-art-left,
code.language-ascii-art {
    background-color: transparent;
    border: 0;
    padding: 2px;
    font-size: .9em;
    color: #4F726A;
    color: #72A499;
}

code.language-ascii-art-small {
    font-size: 8px;
}

code.language-ascii-art-right {
    float: right;
    margin: 10px 0 10px 20px;
}
code.language-ascii-art-left {
    float: left;
    margin: 10px 20px 10px 0;
}

nav {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 18px;
    border-bottom: 1px solid #393939;
}

nav#submenu ul {
    list-style-type: none;
    list-style-position: inside;
    display: inline;
    margin: 0;
    padding: 0;
}

nav#submenu li {
    display: inline;
}

ul.sub-menu:before {
    content: "\20\00b7\20";
}

.sub-menu li:after {
    content: "\20\00b7\20";
}

.sub-menu li:last-child:after {
    content: none;
}

/*
  ==== Media Overrides
*/
@media (max-width: 480px) {
    div#page,
    div#portfolio{
       margin: 0 20px 0 20px;
    }
    #page_content pre {
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
   }
}

@media (max-width: 440px) {
    div#page,
    div#portfolio{
       margin: 0 10px 0 10px;
    }
    div#menu_bar ul li {
        padding: 4px 10px 4px 10px;
    }
}

@media print {
    html, body, #header {
        background: none;
    }
    div#menu_bar {
        display: none;
    }
    div#footer {
        display: none;
    }
    #header {
        border-bottom: none;
    }
    div#page h3 {
        margin-top: 10px;
    }
    div#page_content {
        margin-top: 0;
    }
    #theme_toggle {
        display: none;
    }
}