* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}
body {
    background: #1f1f1f;
    font-size: calc(26px + (26 - 12) * ((100vw - 300px) / (1600 - 300)));
}

#container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#header {
    border-bottom: 1px solid #207A4C;
    text-align: center;
    padding: 6px;
    background: #282835;
}

#header h1 {
    margin: 6px;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: "Play", sans;
}

#header h1 a {
    color: #71B8ED;
    text-decoration: none;
}

#header h1 a:hover {
    color: #5AF2F0;
}

#header h2 {
    color: #71B8ED;
    margin: 6px;
    letter-spacing: 4px;
    color: #71B8ED;
}

#content {
    flex-grow: 1;
    color: #fff;
}

#content #home #links {
    padding: 2px;
    margin: auto;
    margin-bottom: 10px;
    display: table;
}

#content #home #links h2 {
    color: #ED9971;
    border-bottom: 1px solid #B46E4C;
    margin: 4px;
    letter-spacing: 2px;
    font-weight: 700;
}

#content #home #links ul {
    margin: 10px;
    list-style-type: none;
    list-style-position: inside;
    color: #fff;
}

#content #home #links li {
    margin-bottom: 8px;
}

#content #home #links ul li span {
    font-family: "Play", sans;
}

#content #home #links a,
span.bottom_text a,
#error a {
    color: #AE93DD;
    text-decoration: none;
}
#content #home #links a:hover,
span.bottom_text a:hover,
#error a:hover {
    color: #71EDBE;
}

#content #home #images {
    margin-top: 8px;
    border: 1px solid #AE93DD;
    padding: 2px;
}

#content #home #images h2 {
    color: #AE93DD;
    border-bottom: 1px solid #655E70;
    margin: 4px;
    letter-spacing: 2px;
    font-weight: 700;
}

#header, #content, #footer {
    flex-shrink: 0;
}

div#home {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    /*font-variant: small-caps;*/
    text-transform: none;
}

#error {
    color: #fff;
    margin: 16px 20px 16px 20px;
    text-align: center;
}

#error span.error_return {
    font-size: 0.6em;
}

span.bottom_text {
    text-align: center;
    display: block;
    font-size: .4em;
    margin: 0 auto;
    color: #CACACA;
    font-family: "Play", sans;
    margin-top: 20px;
}

span.finger {
    font-family: "Ubuntu Mono", monospace;
    background-color: #30373D;
    padding: 2px 4px 2px 4px;
    margin-top: 4px;
}

div#page p {
    margin-bottom: 12px;
    line-height: 1.3;
}

#footer {
    text-align: center;
    width: 100%;
}

#footer span {
    color: #656565;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 0.6em;
    font-family: "Play", Arial, Helvetica, sans-serif;
}

#footer a {
    color: #7E748F;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

div#page,
div#portfolio {
    margin: 0 80px 0 80px;
}

div#portfolio,
div#page {
    font-family: "Ubuntu";
    font-variant: none;
    word-spacing: 0;
    font-weight: normal;
    letter-spacing: 0;
    font-size: 18px;
}

div#page a,
div#portfolio a {
    color: #77CBE9;
}

div#page a:hover,
div#portfolio a:hover {
    color: #77E9A4;
}

div#page h2,
div#portfolio h2 {
    text-align: center;
    font-family: "Play";
    color: #8FCF63;
    letter-spacing: 4px;
    font-size: 42px;
}

div#page h3,
div#portfolio h3 {
    color: #9663C3;
    font-family: "Play";
    margin-top: 40px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-size: 28px;
}

div#page h3 a,
div#portfolio h3 a {
    color: #71B8ED;
    text-decoration: none;
}

div#page h3.subsubtitle,
div#portfolio h3.subsubtitle {
    text-align: center;
    font-size: 18px;
    color: #7EB758;
    margin-top: 0;
    letter-spacing: 1px;
}

div#page ul,
div#portfolio ul {
    font-size: 18px;
    margin-left: 20px;
    line-height: 1.5;
    margin-bottom: 12px;
    /* list-style-position: inside; */
}

div#portfolio ul li,
div#portfolio ul li {
    font-variant: none;
    margin-bottom: 10px;
}

#page .centered_text,
#portfolio .centered_text {
    text-align: center;
    font-size: 22px;
}

#page_content pre {
    background-color: #262E33;
    padding: 12px;
    margin: 16px 0 16px 0;
    border: 1px solid #3E4C54;
    border-radius: 6px;
    font-family: 'Ubuntu Mono', monospace;
}

div.ascii-art #page_content pre {
    background-color: transparent;
    padding: 0;
    margin: 12px 0 12px 0;
    border: none;
}

#page_content code.language-plaintext {
    background-color: #262E33;
    border: 1px solid #3E4C54;
    padding: 2px; /*2px 0 2px; */
    font-family: 'Ubuntu Mono', monospace;
}

#page_content code.language-ascii-art {
    background-color: transparent;
    border: 0; /*1px solid #3E4C54;*/
    padding: 2px; /*2px 0 2px; */
    font-size: .9em;
    color: #506274;
    color: #466244;
    color: #4F726A;
}

div#page_content {
    margin-top: 20px;
}

blockquote {
    border-left: 3px solid #7EB758;
    padding: 2px 0 2px 8px;
    margin: 10px 0 10px 0;
    font-style: italic;
    color: #EDF7FF;
}

/*
  Menu
*/
div#menu_bar {
    color: #fff;
    text-align: center;
    background: #242831;
    border-bottom: 1px solid #207A4C;
    font-size: .7em;
}
div#menu_bar ul {
    display: inline;
}
div#menu_bar ul li {
    display: inline-block;
    border-right: 1px solid #303642;
    padding: 4px 16px 4px 16px;
    font-family: 'Ubuntu Mono', monospace;
}
div#menu_bar ul li:first-child {
    border-left: 1px solid #303642;
}
div#menu_bar ul li:hover {
    background:#555D71;
}
div#menu_bar ul li a {
    color: #fff;
    text-decoration: none;
}

/*
  Posts
*/
div#page h3.post_title {
    margin-bottom: 0;
}
div.post_date {
    color: #A5A5A5;
}
div.post_content {
    margin-top: 10px;
    line-height: 2;
}
div.post_content p {
    margin-top: 8px;
}

.bottom_shaded {
    /* background: #242831; */
}

.post_page_footer {
    background: #1F1F1F;
}

div.post-nav {
    margin: 0 auto;
    /*
    border-top: 1px solid #207A4C;
    border-bottom: 1px solid #207A4C;
    */
    margin-top: 20px;
    padding: 20px 0 20px 0;
    width: 100%;
    flex-shrink: 0;
    font-size: .5em;
    font-family: "Ubuntu", Helvetica, sans-serif;
}

div.post-nav div {
    display: inline;
}

div.post-nav-prev {
    padding-left: 20px;
}
div.post-nav-next {
    text-align: right;
    padding-right: 20px;
    float: right;
}

div.post-nav a {
    color: #71EDBE;
    text-decoration: none;
}

div.post-nav a:hover {
    color: #71EDBE;
    text-decoration: underline;
}

@media (max-width: 480px) {
    div#page,
    div#portfolio{
       margin: 0 20px 0 20px;
    }
    #page_content pre {
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
   }
}

@media (max-width: 360px) {
    div#page,
    div#portfolio{
       margin: 0 10px 0 10px;
    }
    div#menu_bar ul li {
        padding: 4px 10px 4px 10px;
    }
}