name: Build
on:
  push:
    branches:
      - master

jobs:
  # NOTE: This spell checker only checks the changes *in a commit*. It won't
  # scan the whole repo or even a whole file - just what's changed.
  # See https://github.com/TypoCI/spellcheck-action
  # Another option: https://github.com/check-spelling/check-spelling
  spellcheck:
    name: Spell Check
    runs-on: ubuntu-latest
    timeout-minutes: 4
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
        with:
          ref: ${{ github.ref }}

      - name: TypoCheck
        uses: typoci/spellcheck-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    name: Build Jekyll Site
    runs-on: ubuntu-latest
    needs: spellcheck

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
        with:
          ref: ${{ github.ref }}

      - name: Build
        uses: joshbeard/jekyll-build-action@joshbeard
        env:
          GIT_CEILING_DIRECTORIES: $GITHUB_WORKSPACE

      - uses: actions/upload-artifact@master
        with:
          name: src
          path: _site/

  minify:
    name: Minify
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@master
        with:
          name: src

      - name: Install minify
        run: |
          wget https://github.com/tdewolff/minify/releases/download/v2.10.0/minify_linux_amd64.tar.gz
          tar -xzf minify_linux_amd64.tar.gz
          chmod +x minify
          sudo mv minify /usr/local/bin/

      - name: ls
        run: ls -l

      - name: Minify
        run: minify --recursive --output . .

      - name: Upload artifact
        uses: actions/upload-artifact@master
        with:
          name: minify
          path: .

  validate:
    name: HTML Validation
    runs-on: ubuntu-latest
    needs: minify
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
        with:
          ref: ${{ github.ref }}

      - uses: actions/download-artifact@master
        with:
          name: minify
          path: _site

      - name: HTML5Validator
        uses: Cyb3r-Jak3/html5validator-action@v8.0.0
        with:
          root: _site/

  deploy:
    name: Deploy Website
    runs-on: ubuntu-latest
    needs: validate

    steps:
      - uses: actions/download-artifact@master
        with:
          name: src

      - name: Upload to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete
            --exclude ".git\*"
            --exclude ".gitlab-ci.yml"
            --exclude ".gitignore"
            --exclude "file_list.txt"
            --exclude "album.yml"
            --exclude "README.md"
            --exclude "resume\*"
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-west-2'
          SOURCE_DIR: '.'

      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'us-west-2'

      - name: Set cache on S3 objects
        run: |
          shopt -s extglob
          # 6 months for assets
          aws s3 cp s3://s3-website-joshbeard-me/assets/ s3://s3-website-joshbeard-me/assets/ --recursive --acl public-read --cache-control max-age=15552000
          # Two weeks for common files
          for f in *.png *.ico; do
            aws s3 cp s3://${{ secrets.AWS_S3_BUCKET }}/${f} s3://${{ secrets.AWS_S3_BUCKET }}/${f} --acl public-read --cache-control max-age=1209600
          done
          # One day for photos html
          for f in photos/**/*.html; do
            aws s3 cp s3://${{ secrets.AWS_S3_BUCKET }}/${f} s3://${{ secrets.AWS_S3_BUCKET }}/${f} --acl public-read --cache-control max-age=86400
          done
          # One day for regular content html
          for f in *.html site/* pgp/* files/* homelab/* me/* now/* uses/*; do
            aws s3 cp s3://${{ secrets.AWS_S3_BUCKET }}/${f} s3://${{ secrets.AWS_S3_BUCKET }}/${f} --acl public-read --cache-control max-age=86400
          done
        env:
          # https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-envvars.html
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: 'us-west-2'

  invalidate-cache:
    name: Invalidate CloudFront Cache
    runs-on: ubuntu-latest
    needs: deploy
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
        with:
          fetch-depth: 0  # Need full history to compare commits

      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'us-east-1'

      - name: Invalidate Cache
        run: ruby util/invalidate-cache.rb
        env:
          CF_DISTRIBUTION: ${{ secrets.CF_DISTRIBUTION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: "us-east-1"
          GITHUB_EVENT_BEFORE: ${{ github.event.before }}
          GITHUB_SHA: ${{ github.sha }}
